.widget {
	color: $color_paprika;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */

.widget_search {
  display: none;
  .search-submit {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  .widget_search {
    display: inline;
  }
}

.widget ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
  li {
    border: 0;
    border-top: 1px solid $color_alto;
    color: $color_paprika;
    font-weight: 400;
    list-style: none;
    padding: 10px 5px;
    a {
      border-bottom: 0;
    }
    &:hover {
      background-color: $color_wild_sand;
      text-decoration: none;
    }
  }
}

.widget-area {
  border-top: .5em solid $color_paprika;
  margin-bottom: .5em;
  padding: 1em;
  position: relative;
  &:before {
    border-bottom: 1px solid $color_mercury;
    border-left: 1px solid $color_mercury;
    border-right: 1px solid $color_mercury;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

#secondary aside {
  position: relative;
}
