$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__background-body;
$color__background-button: #f5f5f5;
$color__background-button-hover: gainsboro;
$color__background-button-focus: $color__background-button-hover;
$color__background-pre: whitesmoke;
$color__background-code: #f9f2f4;
$color__background-navigation: #353535;
$color__background-ins: #fff9c0;

$color__text-main: #2a2a2a;
$color__text-screen: #21759b;
$color__text-input: $color__text-main;
$color__text-input-focus: #505050;
$color__link: #903;
$color__link-visited: #903;
$color__link-hover: #d23153;
$color__text-pre: #333333;
$color__text-code: #c7254e;

$color__border-hr-top: #b7b7b7;
$color__border-button: #b0b0b0;
$color__border-button-hover: #919191;
$color__border-button-focus: $color__border-button-hover;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-pre: #cccccc;
