a {
	color: $color_paprika;
	font-weight: normal;
	text-decoration: none;
	&:visited {
		color: $color_paprika;
	}
}

.site-content a {
	border-bottom: 1px dotted $color_paprika;
	&:hover, &:focus, &:active {
		color: $color_brick_red;
		text-decoration: none;
	}
}

.entry-title a {
	border-bottom: 0;
	&:hover, &:focus, &:active {
		border-bottom: 0;
	}
}

.tag {
  color: $color_navy_blue;
}

