#navigation {
  position: relative;
  background-color: $color_tuatara;
  border: 0;
  border-radius: 0;
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation {
  position: relative;
  z-index: 20;
  ul {
    display: none;
    background-color: $color_tuatara;
    list-style: none;
    margin: 0;
    padding-left: 0;
    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 2.4em;
      left: -999em;
      z-index: 99999;
      a {
        width: 200px;
      }
      li {
        &:hover, &:focus {
          &  > ul {
            left: 100%;
	      } 
        }
      }
      ul {
        left: -999em;
        top: 0;
      }
    }
  }
  & > ul {
    & > li {
      &:hover, &:focus {
        & > a {
          color: $color_sun;
          background-color: $color_mine_shaft;
        }
      	& > ul {
          left: auto;
	    }
      }
      & > ul {
        & > li { 
          &:hover, &:focus {
            & > a {
              color: $white;
              background-color: $black;
            }
          }
	    }
        /*display: none;*/
      }
    }
  }
  li {
    float: left;
    position: relative;
  }
  a {
    background-color: transparent;
    color: #ededed;
    font-size: .8em;
    font-weight: bold;
    line-height: 1;
    padding: 1em 1.5em;
    display: block;
    text-decoration: none;
    &:hover, &:focus {
	}
  }
  .current_page_item > a, .current-menu-item > a, .current_page_ancestor > a {}
  .sub-menu {
    background-color: $color_mine_shaft;
    border: 1px solid $black;
    border-color: transparent;
    border-radius: 0 0 .20em .20em;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .menu-home-text {
    display: block;
  }
  .menu-home-icon {
    display: none;
  }
  button {
    color: #ededed;
    background-color: inherit;
    font-size: 1rem;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 37.5em) {
  .main-navigation {
    ul {
      display: inline;
    }
    .menu-home-text {
      display: none;
    }
    .menu-home-icon {
      display: inline;
    }
  }
}

.site-main {
  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

