.site-header {
  background-color: $white;
}

.site-footer {
  background-color: $color_cod_gray;
}

.site-info {
/*   background-color: $color_cod_gray; */
  padding-top: 1em;
  padding-bottom: .5em;
  img {
    max-width: 300px;
  }
  h2 {
    color: $color_silver_chalice;
  }
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul > li > a, ol > li > a {
    position: relative;
    text-decoration: none;
  }
  ul > li > a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  ol > li > a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .contact-info {
    float: left;
    width: 45%;
     margin: 0 2em;
  }
  .phone-link, address {
    border-bottom-color: $color_silver;
    color: $color_silver;
    margin-bottom: 0;
  }
  .contact-link {
    border-bottom-color: $color_silver_chalice;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: $color_silver_chalice;
    &:hover, &:focus {
      color: $white;
    }
  }
  .social-media > li {
    float: left;
    > a {
      border-bottom: 0;
      color: $color_silver_chalice;
      font-size: 2rem;
      margin-right: .2em;
      &:hover, &:focus {
        color: $white;
      }
    }
    &:last-child > a {
      margin-right: 0;
    }
  }
}

.site-branding, .site-name-handheld {
  white-space: nowrap;
}

#site-name-screen {
  display: none;
  h1 {
    line-height: 1em;
    padding: .4em .6em .8em;
    &.site-title {
      font-size: 1.15em;
      margin: 0;
      padding: .5em 1em .5em .75em;
      a {
        border-bottom-color: transparent;
        color: $color_abbey;
        font-weight: bold;
        text-decoration: none;
        &:first-child {
          color: $color_black;
        }
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.asu-footer {
  background-color: #E5E5E5;
}

#site-name-handheld {
  display: inline-block;
  padding-left: 2.5em;
}

@media screen and (min-width: 37.5em) {
  #site-name-handheld {
    display: none;
  }
  #site-name-screen {
    display: inline;
  }
}

.widget-area-footer {
  margin-bottom: .5em;
  padding: 1em;
  position: relative;
}

#hero {
  display: block;
  transform: scale(1.1);
  /*z-index: -2;*/
  overflow: hidden;
  position: relative;
}
#hero-image {
  z-index: 1;
}

.hero-text {
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px;
  z-index: -1;
  position: absolute;
  /*width: 100%;*/
  left: 0;
  right: 0;
  h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: $white;
  }
}

@media screen and (min-width: 37.5em) {
  .hero-text {
    z-index: 10;
  }
}

.bg {
  background-size: cover;
  height: 100vh;
  max-height: 300px;
  background-position: center;
}

.blur {
	filter: blur($image_blur);
	-webkit-filter: blur($image_blur);
	-moz-filter: blur($image_blur);
	-o-filter: blur($image_blur);
	-ms-filter: blur($image_blur);
}
